//Spacing

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$header-height: 100px;


//600px
$sm: 37.5em;
//Phone - 768px
$md: 48em;
//Tablet - 1024px
$lg: 64em;
//Desktop - 1200px
$xl: 75em;
