@import "../../styles/settings/settings";

.footer {
  //width: 100vw;
  //height: 50vh;
  background-color: $black;
  border-top: 5px solid $primary-color;
  box-shadow: 0px -3px 5px 0.5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: $white;
    text-align: center;
  }

  &__logo {
    display: flex;
    padding: 25px 0;
    justify-content: center;
    flex-direction: row;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    :hover {
      color: $primary-color;
    }
  }

}

.contact {
  margin: 15px 0;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  &__icon svg{
    color: $white;
    height: 40px;
    width: 40px;
    margin: 5px;
    padding: 5px;
    :hover {
      animation: bounce .5s;
      fill: $primary-color;
    }
  }
}


