.about {
  min-height: 50vh;
  padding: 10rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__member {
    padding: 10px;
  }
  &__photo {
    width: 25rem;
  }
}

.about quote {
  border-left: 3px solid $primary-color;
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding: 10px;
  color: $light-gray;
}


.triple__wrapper {
  width: 100vw;
  display: flex;
  padding: 0;
}

.story {
  min-height: 50vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}