@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@500;700&display=swap');
@import "/styles/settings/_settings.scss";
@import "/styles/About.module.scss";

.header {
  font-size: 2em;
}

.main {
  min-height: 100vh;
  padding: 14rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 700px;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  &__color {
    color: $primary-color;
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 23px;
  height: 40px;

  position: absolute;
  bottom: 5%;
  position: absolute;
  left: 50%;
  margin-left: -14px;

  span {
    display: block;
    margin: 6px auto;
    width: 3px;
    height: 32px;
    background: $primary-color;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
  }
}

.folders {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3em;

  li {
    border: solid 2px gray;

    &:hover,
    &[data-active-folder="true"] {
      border-color: blueviolet;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 1em;
    background: white;
    border: none;
    cursor: pointer;
  }
}

.images {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3em;
}

.imageTitle {
  font-size: 1.4em;
  margin: 0.4em 0 0;
}

.imageImage {
  & > div {
    display: block !important;
  }
}

.bannerBg {
  width: 100%;
  display: flex;
  align-items: center;
  @media (min-width: $md) {
    height: 600px;
  }
}


.video {
  width: 100%;
  height: 100%;
}

.about {
  height: 500px;
  &__title {
    background-color: $white;
    height: 200px;
    display: block;
    position: relative;
    padding: 0 30px;
    font-size: 56px;
    
    max-width: 700px;
    bottom: 200px;
  }
  &__text {
    position: relative;
    bottom: 100px;
  }
}


@keyframes scrolldown {
	0% {
		opacity: 0;
		transform: translate(0, -50px);
	}
	50% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0;
		transform: translate(0, 50px);
	}
}
.scrolldown__wrapper {
	position: absolute;
	text-align: center;
	bottom: 0;
	transform: translate(-50%, -50%);
  @media (min-width: $lg) {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: translate(-50%, -50%);
  }
}
.scrolldown {
	height: 100px;
	margin: 0 auto 8px;
	text-align: center;
	width: 30px;
}
.scrolldown__p1 {
	animation-duration: 1.5s;
	animation-name: scrolldown;
	animation-iteration-count: infinite;
	fill: $primary-color;
}
.scrolldown__p2 {
	animation-duration: 1.5s;
	animation-name: scrolldown;
	animation-iteration-count: infinite;
	fill: $primary-color;
	animation-delay: .5s;
}
.scrolldown__p3 {
	animation-duration: 1.5s;
	animation-name: scrolldown;
	animation-iteration-count: infinite;
	fill: $primary-color;
	animation-delay: 1.5s;
}

