@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

@import "/styles/settings/_settings.scss";

.header {
  font-size: 2em;
}

.main {
  min-height: 100vh;
  padding: 14rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 700px;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  &__color {
    color: $primary-color;
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.folders {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3em;

  li {
    border: solid 2px gray;

    &:hover,
    &[data-active-folder="true"] {
      border-color: blueviolet;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 1em;
    background: white;
    border: none;
    cursor: pointer;
  }
}

.images {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 3em;
}

.imageTitle {
  font-size: 1.4em;
  margin: 0.4em 0 0;
}

.imageImage {
  & > div {
    display: block !important;
  }
}

.bannerBg {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.video {
  width: 100%;
  height: 100%;
}
