@import "/styles/settings/_settings.scss";
@import "/styles/About.module.scss";

.header {
  font-size: 2em;
}

.main {
  min-height: 100vh;
  padding: 14rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 700px;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  &__color {
    color: $primary-color;
  }

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 23px;
  height: 40px;

  position: absolute;
  bottom: 5%;
  position: absolute;
  left: 50%;
  margin-left: -14px;

  span {
    display: block;
    margin: 6px auto;
    width: 3px;
    height: 32px;
    background: $primary-color;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
  }
}

.folders {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  );
  grid-gap: 3em;

  li {
    border: solid 2px gray;

    &:hover,
    &[data-active-folder="true"] {
      border-color: blueviolet;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 1em;
    background: white;
    border: none;
    cursor: pointer;
  }
}

.images {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  );
  grid-gap: 3em;
}

.imageTitle {
  font-size: 1.4em;
  margin: 0.4em 0 0;
}

.imageImage {
  & > div {
    display: block !important;
  }
}

.bannerBg {
  width: 100%;
  display: flex;
  align-items: center;
  @media (min-width: $md) {
    height: 600px;
  }
}

.video {
  width: 100%;
  height: 100%;
}

.feature {
  height: 500px;
  &__title {
    background-color: $white;
    height: 200px;
    display: block;
    position: relative;
    padding: 0 30px;
    font-size: 56px;

    max-width: 700px;
    bottom: 200px;
  }
  &__text {
    position: relative;
    bottom: 100px;
  }
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 50px);
  }
}
.scrolldown__wrapper {
  position: absolute;
  text-align: center;
  bottom: 0;
  transform: translate(-50%, -50%);
  @media (min-width: $lg) {
    left: 50%;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: translate(-50%, -50%);
  }
}
.scrolldown {
  height: 100px;
  margin: 0 auto 8px;
  text-align: center;
  width: 30px;
}
.scrolldown__p1 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: $primary-color;
}
.scrolldown__p2 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: $primary-color;
  animation-delay: 0.5s;
}
.scrolldown__p3 {
  animation-duration: 1.5s;
  animation-name: scrolldown;
  animation-iteration-count: infinite;
  fill: $primary-color;
  animation-delay: 1.5s;
}


.pricing {
  min-height: 50vh;
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__item__features {
  padding: 0 2rem;
}

.pricing__item__features__list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0;
    padding: 14px 0;
    position: relative;
    display: flex;
    align-items: center;
  }
}

.pricing__item__features__list li {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 1px;
    background: #e9ecf8;
  }

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%2011h14v2H5z%22%20fill%3D%22%239298B8%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  &.is__checked::after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill-rule%3D%22nonzero%22%20fill%3D%22none%22%3E%3Ccircle%20fill%3D%22%2300C2A9%22%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M10.5%2012.267l-2.5-1.6-1%201.066L10.5%2016%2017%209.067%2016%208z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin: 12px;
}

.give {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem;
  color: $white;
  background-color: $black;
  border: 3px solid $primary-color;
  box-shadow: 0 8px 16px rgba(46, 52, 88, 0.16);
}

.clients__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.form {
  -webkit-appearance: none;
  display: flex;
  flex-direction: column;
  width: 400px;
}


.input__field {
  border: none;
  border-left: 3px solid $primary-color;
  margin: 10px;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  &:focus {
    outline: 0;
  }
}
